In [105]:
import pandas as pd

In [113]:
orders = pd.read_csv("orders.csv")

In [114]:
orders["user_id"].unique()

array([     1,      2,      3, ..., 206207, 206208, 206209], dtype=int64)

In [116]:
len(orders["user_id"].unique())

206209

In [ ]:
!pip install randomuser

In [ ]:
from randomuser import RandomUser
import time

In [ ]:
user_list = []

In [ ]:
while(len(user_list)< 206209):
    time.sleep(60)
    user_list +=RandomUser.generate_users(5000)
    print(len(user_list))

In [ ]:
len(user_list)

In [ ]:
user_list = user_list[0:206209]

In [ ]:
data = pd.DataFrame({"User": user_list})

In [ ]:
data["first_name"] = data["User"].apply(lambda row: row.get_first_name())
data["last_name"] = data["User"].apply(lambda row: row.get_last_name())
data["gender"] = data["User"].apply(lambda row: row.get_gender())
data["email"] = data["User"].apply(lambda row: row.get_email())
data["phone"] = data["User"].apply(lambda row: row.get_phone())

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
gfg = np.floor(np.random.gamma(20, 1.5, 206209)+9)
  
count, bins, ignored = plt.hist(gfg, 14, density = True)
plt.show()

In [ ]:
np.max(gfg)

In [ ]:
np.min(gfg)

In [ ]:
data["age"] = pd.DataFrame(gfg)

In [ ]:
data =data[["first_name","last_name","gender","email","phone","age"]]

In [ ]:
data['User_id'] = range(1, len(data) + 1)

In [ ]:
data.to_csv("users.csv",index=False)

In [111]:
df = pd.read_csv("users.csv")

In [112]:
df

,first_name,last_name,gender,email,phone,age,User_id
0,Dioclene,da Costa,female,dioclene.dacosta@example.com,(43) 1818-7195,47.0,1
1,Lucile,Martin,female,lucile.martin@example.com,05-96-50-82-61,34.0,2
2,Lisandro,Melo,male,lisandro.melo@example.com,(97) 8182-5106,29.0,3
3,John,Calvo,male,john.calvo@example.com,968-243-221,55.0,4
4,Angel,Leon,male,angel.leon@example.com,985-906-622,47.0,5
...,...,...,...,...,...,...,...
206204,Hanna,Sullivan,female,hanna.sullivan@example.com,041-533-6077,42.0,206205
206205,Lenni,Lehtinen,male,lenni.lehtinen@example.com,06-078-751,36.0,206206
206206,Hilla,Raisanen,female,hilla.raisanen@example.com,07-612-527,44.0,206207
206207,Bjørnar,Gravem,male,bjornar.gravem@example.com,73453068,34.0,206208
206208,Oline,Bøhler,female,oline.bohler@example.com,33036052,33.0,206209